aiofiles
aiohttp
apscheduler
asyncio
bs4
ffmpeg-python
future==1.0.0
gitpython
heroku3
httpx==0.28.1
motor
psutil
#py-yt-search
kurigram==2.2.13
python-dotenv
#ntgcalls==2.0.6
py-tgcalls==2.2.8
pyyaml==6.0.3
requests
speedtest-cli
spotipy
tgcrypto
unidecode
pyrofork
--no-binary ntgcalls
pillow==12.0.0
git+https://github.com/CertifiedCoders/youtube-search-python
ntgcalls==2.0.6
yt-dlp==2025.11.12
